body {
    font-family: 'Montserrat', sans-serif !important;
}

/*CORES*/
.AmareloPrincipal {
    color: rgb(218, 175, 41)
}

.AmareloClaro {
    color: rgb(231, 205, 96)
}

.CinzentoClaro {
    color: rgb(239, 239, 239)
}

.CinzentoEscuro {
    color: rgb(68, 68, 68)
}

.CinzentoMaisEscuro {
    background-color: rgb(56, 56, 56)
}



/*SECÇÕES*/
/*NAV*/
#scroll {
    position: fixed;
    top: 0;
    transition: top 0.4s ease-in-out;
}

nav {
    top: 0;
    height: 5rem;
    border: 2px solid rgb(218, 175, 41);
    width: 100%;
    z-index: 2;
}

nav-item {
    margin: 0 !important;
}

.nav-link {
    color: rgb(68, 68, 68);
    font-size: 1.1rem;
}

/*DESENVOLVER ANIMAÇÃO HOVER*/
.navPrincipal a {
    border-bottom: 2px solid white;
}

/*DESENVOLVER ANIMAÇÃO HOVER*/
.navPrincipal a:hover {
    color: rgb(218, 175, 41) !important;
    border-bottom: 2px solid rgb(218, 175, 41);
}

/*EFEITO HOVER*/
/*SEARCH BOX*/
.search-box {
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-99%, -50%);
    background: rgb(239, 239, 239);
    width: fit-content;
    height: 30px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-txt {
    width: 150px;
    padding: 0 15px;
}

.search-box:hover > .search-btn {
    background: white;
    color: black;
}

.search-btn {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(239, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: rgb(68, 68, 68);
    cursor: pointer;
}

.search-btn > i {
    font-size: 30px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(68, 68, 68);
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
    font-weight: regular;
}

/*Utilizador*/
.userLogo {
    width: 32px;
    cursor: pointer;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*RETANGULO CENTRAL*/

.Trade {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(68, 68, 68);
    font-size: 3rem;
    letter-spacing: 0.5rem;
    line-height: 3.5rem;
    font-weight: 500;
    background-color: rgba(239, 239, 239, 0.8);
    padding: 1.5rem 0;
    z-index: 1;
}

/*TRENDING*/
.trending {
    margin: 0;
    height: 7rem;
    background-color: white;

}

.nohover {
    text-decoration: none;
    color: black;

}

/*ITENS TRENDING*/
.separador {
    border-left: 1px solid rgba(68, 68, 68, 0.2);
    border-right: 1px solid rgba(68, 68, 68, 0.2);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.5s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
}

.iconTrend {
    width: 10%;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    transition: 0.5s ease;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
}

.iconTrend:hover {
    color: rgb(231, 205, 96);
    transition: .5s;
}

.efeito:hover .imgTrend {
    opacity: 1;
}

.efeito:hover .overlay {
    opacity: 1;
}

.efeito:hover .iconTrend {
    opacity: 1;
}

/*FOOTER*/
footer {
    color: rgb(239, 239, 239);
    background-color: rgb(68, 68, 68);
    padding: 1rem;
    margin-top: 5rem;
}
.page-footer-product{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


footer a {
    text-decoration: none;
    color: ;
}



footer .produtos a {
    color: darkgray;
}

footer a.categoria {
    color: white;
}

footer .menu a {
    color: white;
}

footer a:visited {}

footer a:hover {
    text-decoration: none;
}

footer a:active {}

ul {

    list-style: none;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.categoria {
    display: inline;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(218, 175, 41);
}

.trendingtitle {
    display: inline;
    font-size: 2rem;
    border-bottom: 1px solid rgb(218, 175, 41);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

ul.produtos li {
    padding-top: 0.5rem;
    line-height: 2rem;
}

ul.menu li {
    padding-bottom: 0.3rem;
    font-size: 1.5rem;
    text-align: center;
}

.lastfooter {

    position: absolute;
    left: 0;
}

.divisaofooter {

    border-bottom: 1px solid rgb(218, 175, 41);
}

.textofinalfooter {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: darkgray;
}

.followapps {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: darkgray;
}

.facebookfooter {
    position: absolute;
    margin-left: 17rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

/*About */


.aboutxt {

    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 120px


}

/*MODAL*/
.close {
    padding: 0 !important;
    position: absolute;
    top: 10%;
    right: 6%;
}

.tabsTexto {
    font-size: 1.5rem;
    color: darkgray;
}

ul.navModal a:link {}

ul.navModal a:visited {}

ul.navModal a:hover {
    text-decoration: none;
    color: rgb(218, 175, 41);
}

ul.navModal a:active {
    color: black;
}

.tab-pane {
    display: flex;
    background-color: lightgrey;
    height: fit-content;
}

#loginTab a {
    color: black;
}
#registerTab   a {
    color: black;
}

#loginTab a:hover {
    color: black;
}
#registerTab a:hover {
    color: black;

}

.FraseModal {
    text-align: center;
    font-size: 1rem;
    padding: 1rem 0;
}


.LoginSocial {
    background-color: white;
    height: fit-content;
    display: block;
    padding: 0.2rem;
}
.SocialBtn{
  background-color: white;
  border: 1px solid white;;
}
.SocialBtn:hover{
  cursor: pointer;
}
.SocialBtn:active{
  border: 1px solid lightgrey;
}
.SocialBtn:focus{
  outline: inherit;
}


.iconSocial{
  width: 16px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}
.footerSocials{
  width: 16px;
  height: auto
}


.loginForm input[type=password],
.loginForm input[type=text] {
    border: 0;
    outline: none;

}

.loginForm button[type=submit] {
    background-color: rgb(218, 175, 41);
    border: 0;
    color: white;
    outline: none;
    cursor: pointer;
    border: 2px solid rgb(218, 175, 41);
}
.loginForm button[type=submit]:active {
    transition: 0.1s;
    border: 0;
    border: 2px solid lightgrey;
    outline: none;
    cursor: pointer;
}

.resetPass{
    display: inline;
    margin: 0 !important;
    font-size: 0.7rem;
}

/*Fix para conteúdos não darem shift para a direita quando se abre o modal do login ;) FIXED*/
body.modal-open-noscroll
{
    margin-right: 0!important;
    overflow: hidden;
}
.modal-open-noscroll .navbar-fixed-top, .modal-open .navbar-fixed-bottom
{
    margin-right: 0!important;
}
.modal {
 overflow-y: auto !important;
}

.modal-open {
 overflow: auto !important;
}

/*PRODUTOS*/
.tradeBtn{
  font-size: 2rem;
  background-color: white;
  border: 2px solid rgb(218, 175, 41);
  height: fit-content;
}
.tradeBtn:hover{
  cursor: pointer;
  transition: 0.5s
}
.tradeBtn:active{
  transition: 0.1s;
  color: white;
  background-color: rgb(218, 175, 41);
}
.tradeBtn:focus{
  outline: none;
}

.alinhamentoVsRow {
  padding-left: 15px
}
