body {
  font-family: 'Montserrat', sans-serif !important;
}
/*CORES*/
.AmareloPrincipal{
  color: rgb(218,175,41)
  }
.AmareloClaro{
  color: rgb(231,205,96)
  }
.CinzentoClaro{
  color: rgb(239,239,239)
  }
.CinzentoEscuro{
  color: rgb(68,68,68)
}
/*SECÇÕES*/
/*NAV*/
#scroll{
  position: sticky;
  top:0;
  transition: top 0.4s ease-in-out;
}
nav {
  top: 0;
  height: 5rem;
  border: 2px solid rgb(218,175,41);
  width: 100%;
  z-index: 1;
}

.nav-link{
  color: rgb(68,68,68);
  font-size: 1.1rem;
}
/*DESENVOLVER ANIMAÇÃO HOVER*/
ul.nav a{
  border-bottom: 2px solid white ;
}
/*DESENVOLVER ANIMAÇÃO HOVER*/
ul.nav a:hover {
  color: rgb(218,175,41) !important;
  border-bottom: 2px solid rgb(218,175,41);
 }

/*SEARCH BOX*/
.search-box {
 box-sizing: content-box;
 position: absolute;
 top: 50%;
 left: 80%;
 transform: translate(-99%, -50%);
 background: rgb(239,239,239);
 width: fit-content;
 height: 30px;
 border-radius: 40px;
 padding: 10px;
}

.search-box:hover > .search-txt {
 width: 150px;
 padding: 0 15px;
}

.search-box:hover > .search-btn {
 background: white;
 color: black;
}

.search-btn {
 float: right;
 width: 30px;
 height: 30px;
 border-radius: 50%;
 background: rgb(239,239,239);
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: rgb(68,68,68);
 cursor: pointer;
}

.search-btn > i {
 font-size: 30px;
}

.search-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: rgb(68,68,68);
 font-size: 16px;
 transition: 0.4s;
 line-height: 30px;
 width: 0px;
 font-weight: regular;
}
/*Utilizador*/
.userLogo{
  width: 32px;
}
/*RETANGULO CENTRAL*/
.Trade{
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: rgb(68,68,68);
  font-size:3rem;
  letter-spacing: 0.5rem;
  line-height: 3.5rem;
  font-weight: 500;
  background-color: rgba(239,239,239,0.8);
  padding: 1.5rem 0;
}
/*TRENDING*/
.trending{
  margin: 0;
  padding: 1rem;
  background-color: white;
  border-bottom: 0.2rem solid rgb(218,175,41);
}
/*see more button*/
.seeMore{
  position: absolute;
  right: 1%;
  bottom: 10%;
  display: inline;
  margin: 0;
  padding: 0.2rem 0.5rem;
  background-color:rgb(218,175,41);
  color: rgb(239,239,239);
  font-size: 0.9rem;
  border: 1px solid rgb(239,239,239);

}
.seeMore:hover{
  background-color:white;;
  border: 1px solid rgb(218,175,41);
  color:  rgb(68,68,68);
  transition: .2s;
}
section.trending a:link{
  text-decoration: none;
  color: white;
}
section.trending a:visited{
  text-decoration: none;
  color: white;
}

/*ITENS TRENDING*/
.separador{
  border-left: 1px solid rgba(68,68,68,0.2);
  border-right: 1px solid rgba(68,68,68,0.2);
}
.overlay{
  background-color: rgba(68,68,68,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.5s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
}
.nome{
  margin: 0;
  position: absolute;
  bottom: 2%;
  transform: translateX(-50%);
  display: inline;
  background-color: rgba(239,239,239,0.9);
  border-top: 0.2rem solid rgb(218,175,41);
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
}
.iconTrend{
  width: 10%;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  transition: 0.5s ease;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
}
.iconTrend:hover{
  color: rgb(231,205,96);
  transition: .5s;
}

.efeito:hover .imgTrend {
  opacity: 1;
}

.efeito:hover .overlay {
  opacity: 1;
}

.efeito:hover .iconTrend {
  opacity: 1;
}
/*FOOTER*/
footer{
  color: rgba(239,239,239);
  background-color: rgb(68,68,68);
  padding: 1rem;
}
footer a{
  text-decoration: none;
  color: ;
}

footer .produtos a{color: darkgray;}
footer a.categoria {color: white;}
footer .menu a{color: white;}
footer a:visited{}
footer a:hover{text-decoration:none;}
footer a:active{}

ul{

  list-style: none;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.categoria{
  display: inline;
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(218,175,41);
}
ul.produtos li{
  padding-top: 0.5rem;
  line-height: 2rem;
}
ul.menu li{
  padding-bottom: 0.3rem;
  font-size: 1.5rem;
  text-align: center;
}
