
/*HEADER BORDER*/
.border-amarelo {
  border: 2px solid rgb(218,175,41);
}
/*CORES*/
.AmareloPrincipal{
  color: rgb(218,175,41)
  }
.AmareloClaro{
  color: rgb(231,205,96)
  }
.CinzentoClaro{
  color: rgb(239,239,239)
  }
.CinzentoEscuro{
  color: rgb(68,68,68)
}
/*SECÇÕES*/
/*NAV*/
nav a{
  color: rgb(68,68,68);
  font-size: 18px;
}
/*DESENVOLVER ANIMAÇÃO HOVER*/
ul.nav a{
  border-bottom: 2px solid white ;
}
/*DESENVOLVER ANIMAÇÃO HOVER*/
ul.nav a:hover {
  color: rgb(218,175,41) !important;
  border-bottom: 2px solid rgb(218,175,41);
 }
/*SEARCH BOX*/
.search-box {
 box-sizing: content-box;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: rgb(239,239,239);
 height: 30px;
 border-radius: 40px;
 padding: 10px;
}

.search-box:hover > .search-txt {
 width: 240px;
 padding: 0 15px;
}

.search-box:hover > .search-btn {
 background: white;
 color: black;
}

.search-btn {
 color: #e84118;
 float: right;
 width: 30px;
 height: 30px;
 border-radius: 50%;
 background: rgb(239,239,239);
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: rgb(68,68,68);
 cursor: pointer;
}

.search-btn > i {
 font-size: 30px;
}

.search-txt {
 border: none;
 background: none;
 outline: none;
 float: right;
 padding: 0;
 color: rgb(68,68,68);
 font-size: 16px;
 transition: 0.4s;
 line-height: 30px;
 width: 0px;
 font-weight: regular;
}﻿

/*RETANGULO CENTRAL*/
.trade{
  position: absolute;
  top: 50%;
  left: 50%;

}
